@import "./styleMinxin";

html,
body {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  line-height: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
  font-weight: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page {
  @include flexBox($direction: $column);

  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-position: top right;
  background-size: cover;
  background-image: url('https://www.yr.no/assets/images/background-cloud.jpg'), -webkit-gradient(linear, left top, left bottom, from(#e1f0fa), to(#fff));

  .pageHeader {
    @include flexBox($alignItems: $center, $justifyContent: $center);

    position: relative;
    padding: 2rem;
    font-weight: bold;
    font-size: 1.5rem;
    box-shadow: 0 2px 1px 0 rgb(204 226 248 / 50%);

    .goBackButton {
      display: block;
      position: absolute;
      left: 2rem;
      color: black;
    }
  }
}
