.overviewContainer {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-wrap: wrap;

  .item {
    flex-basis: 33%;
  }
}

@media screen and (max-width: 980px) {
  .overviewContainer {
    .item {
      flex-basis: 50%;
    }
  }
}

@media screen and (max-width: 600px) {
  .overviewContainer {
    .item {
      flex-basis: 100%;
    }
  }
}
